.dashboard {
    margin-left: 252px; /* Matches Sidebar width */
    flex-grow: 1;
  }
  
  .card {
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


  
  