body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Apply Poppins to the body */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: 'Poppins', sans-serif; /* Apply Poppins to code as well */
}
